<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tela azul</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Possiveis causas da Tela Azul</ion-card-title>
    
      <p>Aqui vamos falar sobre as causas mais comuns desse erro, que é um sintoma sério de um colapso do seu sistema, e também
         sobre métodos que podem ajudar você a isolar os problemas para saber o que de errado está acontecendo.</p>
    </ion-card-content>

    <ion-card-content>Temperatudo da CPU elevada</ion-card-content>
    
    <ion-img src="https://i.imgur.com/6Mz43xP.jpg"></ion-img>
    
    <p>Se seu computador está aquecendo demais, verifique a existência de poeira
       nos sistemas de ventilação e se as tomadas de ar não estão obstruídas por cabos </p>
    
  </ion-card>
 
 <ion-card>
  
  <ion-card-content> Defeito na Memória RAM</ion-card-content>
  
  <ion-img src="https://i.imgur.com/J3yQ4j6.jpg"></ion-img>

  <p>Nesse caso, você pode se preparar para comprar novos pentes, porque aqueles que estão instalados no seu computador ou estão com algum defeito de fabricação,
     ou são incompatíveis com as especificações dos barramentos da sua placa.</p> 

</ion-card>
 
<ion-card>
  
  <ion-card-content>Defeito no disco Rigido</ion-card-content>
  
  <ion-img src="https://i.imgur.com/3Zb1sSh.jpg"></ion-img>

  <ion-card-content>O código INACCESSIBLE_BOOT_DEVICE é exibido quando o computador não consegue encontrar informações válidas de inicialização no disco que armazena o sistema, por exemplo.

    Os códigos NTFS_FILE_SYSTEM ou FAT_FILE_SYSTEM são sintomas de que seu disco rígido está morrendo. É uma situação de urgência: desligue o computador, remova o disco rígido e realize backup dos seus dados porque o uso contínuo desse HD pode acabar tornando a extração de dados inviável no futuro próximo</ion-card-content>
  
</ion-card>
</ion-content>
