<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Computador Lento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Atualização do Sistema Operacional</ion-card-title>
    
      <p>A instalação de atualizações mais recentes acaba resolvendo alguns problemas do Windows 10. Seguindo os passos a seguir é possível 
        fazer o download e instalação das "Atualizações de segurança".</p>
    </ion-card-content>
    <ion-card-content>Iniciar  - Configurações</ion-card-content>
    
    <ion-img src="https://i.imgur.com/YEZ3OvW.png"></ion-img>

    
 </ion-card>
 
 <ion-card>
  
  <ion-card-content>Siga em Atualização de segurança</ion-card-content>
  
  <ion-img src="https://i.imgur.com/qWjR0uJ.png"></ion-img>

  
</ion-card>
 
<ion-card>
  
  <ion-card-content>Clique em verificar as atualizações:</ion-card-content>
  
  <ion-img src="https://i.imgur.com/6MP2rRi.png"></ion-img>
  <ion-card-content>Após iniciar o Update aguarde o download das atualizações e a instalação do mesmo.
     A máquina será reiniciada. Fim da atualização.</ion-card-content>
  
</ion-card>
</ion-content>
