<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>S. Operacional não inicia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>O computador com Windows 10 não inicia</ion-card-title>
      
      <p>
        Alguns métodos simples podem ser aplicados para resolver o processo de inicialização. É viável, por exemplo, tentar ligar o computador em modo de segurança, método em que o Windows inicia com o mínimo de software possível, ou utilizar a restauração de sistemas, para voltar os arquivos a um ponto de restauração criado antes do problema.
         Confira, a seguir, o passo a passo de algumas maneiras de corrigir o problema.
      </p>
    </ion-card-content>

    <ion-card-content>Iniciar em modo de segurança</ion-card-content>
    
    <ion-img src="https://i.imgur.com/ugCSDmq.jpg"></ion-img>
    
    <p>O modo de segurança do 
      Windows consiste em iniciar o sistema com uma versão básica, utilizando o mínimo de arquivos e recursos possíveis. Se o problema for resolvido após a inicialização com segurança, você já sabe que o problema não está nos drivers básicos e nem na configuração central do dispositivo. </p>
    
  </ion-card>
 
 <ion-card>
  
  <ion-card-content> Observe o funcionamento da bateria</ion-card-content>
  
  <ion-img src="https://i.imgur.com/vYEjoHY.jpg"></ion-img>

  <p>Se o problema acontecer em um notebook, é indicado analisar se a inicialização foi prejudicada por problemas com a bateria da máquina. Para isso, teste o funcionamento [
    com um cabo alternativo ou remova a bateria e conecte o aparelho a outra fonte de energia.</p> 

</ion-card>
 
<ion-card>
  
  <ion-card-content>Restaura o sistema</ion-card-content>
  
  <ion-img src="https://i.imgur.com/9xyLun0.jpg"></ion-img>

  <ion-card-content> Após reiniciar o Windows 10 a partir de um ponto de restauração, dê uma atenção especial aos softwares antivírus e antimalwares instalados. Eles devem sempre estar atualizados e, por isso, 
    priorize baixar as suas atualizações novamente antes de seguir adiante com o uso regular.</ion-card-content>
  
</ion-card>
</ion-content>
