<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Computador não liga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>O computador não esta ligando</ion-card-title>
      
      <p>
        Se o seu computador não liga, há alguns probleminhas básicos que podem ser responsáveis por isso. Vale a pena conferir se não são eles que estão causando sua 
        preocupação antes de enviá-lo para a assistência técnica – que no final das contas pode dizer que o problema era outro e te cobrar ainda mais caro.
      </p>
    </ion-card-content>

    <ion-card-content>Verificar se ele tem energia</ion-card-content>
    
    <ion-img src="https://i.imgur.com/M859IO4.jpg"></ion-img>
    
    <p>Mas confira se o computador está de fato ligado na tomada. Se for um notebook, experimente plugá-lo para garantir que o problema não seja falta de bateria mesmo. Se o seu computador tiver uma fonte (aquele “tijolinho” que faz parte do cabo), confira se ela está bem conectada, e faça o mesmo com a do seu notebook. </p>
    
  </ion-card>
 
 <ion-card>
  
  <ion-card-content> Veja os Conectores de Imagem</ion-card-content>
  
  <ion-img src="https://i.imgur.com/LFB0bhk.jpg"></ion-img>

  <p>Se o computador recebe energia mas não mostra nada, pode ser também um mau contato dos cabos que levam informação até o monitor. 
    Encontre o conector de imagem do monitor e reforce a conexão dele nas duas pontas.</p> 

</ion-card>
 
<ion-card>
  
  <ion-card-content>Limpeza Interna</ion-card-content>
  
  <ion-img src="https://i.imgur.com/mAGbEeA.jpg"></ion-img>

  <ion-card-content> PCs costumam acumular muita poeira com o tempo, e é possível que essa poeira tenha causado algum mau contato. Limpe os componentes usando um pano que não solta fiapos, e confira a firmeza dos principais conectores. Se você tem uma placa de vídeo dedicada,
     garanta que ela está bem encaixada à placa-mãe – o mau contato pode estar aí também.</ion-card-content>
  
</ion-card>
</ion-content>
